<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
 <!--modal novo funcionario -->
    <div class="modal fade" id="NovaS">
    <div class="modal-dialog2">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">
            <span>&times;</span>
          </button>
    				<div class="col-xs-10">
<h1 class="titulo-formulario" th:if="${funcionario.novo}">Cadastro de Funcionario</h1>
			<h1 class="titulo-formulario" th:unless="${funcionario.novo}" th:text="|Edicao do Banco  ${funcionario.nome}|">Edicao do Banco</h1>
				</div>
        </div>
        <form method="POST"  th:object="${funcionario}" th:action="${funcionario.novo}? @{/funcionarios/novo} : @{/funcionarios/{codigo}(codigo=${funcionario.codigo})}">
          <div class="modal-body">

            <div class="row"> <!-- 1-->
            

	             
	             <div class="col-sm-5">
	                   <div class="grupo-entrada">
	                     <label for="nome">Nome</label>
	                     <input id="nome" th:field="*{nome}" type="text" class="campo" />
	                   </div>
	             </div>
	             
	             <div class="col-sm-4">
	                   <div class="grupo-entrada">
	                     <label for="endereco">Endereço</label>
	                     <input id="endereco" th:field="*{endereco}" type="text" class="campo" />
	                   </div>
	             </div>
	             <div class="col-sm-3">
	                   <div class="grupo-entrada">
	                     <label for="cidade">Cidade</label>
	                     <input id="cidade" th:field="*{cidade}" type="text" class="campo" />
	                   </div>
	             </div>
	          </div>  
	          
	          <div class="row"> <!-- 2-->
		             <div class="col-sm-4">
		                   <div class="grupo-entrada">
		                     <label for="bairro">Bairro</label>
		                     <input id="bairro" th:field="*{bairro}" type="text" class="campo" />
		                   </div>
		             </div>
		             <div class="col-sm-2">
		                 <div class="grupo-entrada">
		                   <label for="uf">Estado</label>
		                   <select id="uf" name="uf" th:field="*{uf}" class="campo">
		                     <option th:value="${uf}" th:text="Selecione"></option>
		                     <option th:each="uf : ${todosUF}" th:value="${uf}" th:text="${uf.descricao}"></option>
		                     
		                   </select>
		                 </div>
	              	 </div>
	              	 
	              	 <div class="col-sm-2">
		                   <div class="grupo-entrada">
		                     <label for="cep">CEP</label>
		                     <input id="cep" th:field="*{cep}" type="text" class="campo" />
		                   </div>
		             </div>
			          <div class="col-sm-2">
			                   <div class="grupo-entrada">
			                     <label for="telefone1">Telefone 1</label>
			                     <input id="telefone1" th:field="*{telefone1}" type="text" class="campo" />
			                   </div>
			             </div>
			             <div class="col-sm-2">
			                   <div class="grupo-entrada">
			                     <label for="telefone2">Telefone 2</label>
			                     <input id="telefone2" th:field="*{telefone2}" type="text" class="campo" />
			                   </div>
			             </div>
	          
	          </div>
	          <div class="row"> <!-- 3 -->
	               <div class="col-sm-4">
	                   <div class="grupo-entrada">
	                     <label for="email">Email</label>
	                     <input id="email" th:field="*{email}" type="email" class="campo" />
	                   </div>
	             </div>
	             
	             <div class="col-sm-2">
	                   <div class="grupo-entrada">
	                     <label for="cpf">CPF</label>
	                     <input id="cpf" th:field="*{cpf}" type="text" class="campo" />
	                   </div>
	             </div>
	             <div class="col-sm-2">
	                   <div class="grupo-entrada">
	                     <label for="rg">RG</label>
	                     <input id="rg" th:field="*{rg}" type="text" class="campo" />
	                   </div>
	             </div>
	             <div class="col-sm-4">
	                   <div class="grupo-entrada">
	                     <label for="banco">Banco</label>
	                     <input id="banco" th:field="*{banco}" type="text" class="campo" />
	                   </div>
	             </div>
	             
	             
	          </div>
	          <div class="row"> <!-- 4 -->
	               <div class="col-sm-2">
	                   <div class="grupo-entrada">
	                     <label for="agencia">Agencia</label>
	                     <input id="agencia" th:field="*{agencia}" type="text" class="campo" />
	                   </div>
	               </div>
	                <div class="col-sm-2">
	                   <div class="grupo-entrada">
	                     <label for="conta">Conta</label>
	                     <input id="conta" th:field="*{conta}" type="text" class="campo" />
	                   </div>
	                </div>
	                
	                
	                
	                <div class="col-sm-2">
		              <div class="grupo-entrada">
		                <label for="salario">Salario</label>
		                <input id="salario" th:field="*{salario}" type="text" class="campo" />
		              </div>
		            </div>
		            <div class="col-sm-2">
	                   <div class="grupo-entrada">
	                     <label for="datapagamento">Data PG</label>
	                     <input id="datapagamento" th:field="*{datapagamento}" type="date" class="campo" />
	                   </div>
                  
                   </div> 
                   <div class="col-sm-2">
	                   <div class="grupo-entrada">
	                     <label for="datacadastro">Data do Cadastro</label>
	                     <input id="datacadastro" th:field="*{datacadastro}" type="date" class="campo" />
	                   </div>
                  
                   </div> 
                   <div class="col-sm-2">
	                  <div class="grupo-entrada">
	                    <label for="usuario">Usuário</label>
	                    
	                    <select id="usuario" th:field="*{usuario}"  class="campo">
	                      <option th:value="${usuario}" th:text="Selecione"></option>
	                      <option th:each="usuario : ${todosUsuario}" th:value="${usuario}" th:text="${usuario.descricao}"></option>
	                      
	                    </select>
	                  </div> 
	                </div>
	          </div>
	          <div class="row"> <!-- 5 -->
	               
	          
	               
	                 <div class="col-sm-2">
	                  <div class="grupo-entrada">
	                    <label for="vendedor">Vendedor</label>
	                    
	                    <select id="vendedor" th:field="*{vendedor}"  class="campo">
	                      <option th:value="${vendedor}" th:text="Selecione"></option>
	                      <option th:each="vendedor : ${todosVendedor}" th:value="${vendedor}" th:text="${vendedor.descricao}"></option>
	                      
	                    </select>
	                  </div> 
	                                    
	                </div>
	                <div class="col-sm-2">
				              <div class="grupo-entrada">
				                <label for="comissao">Comissão</label>
				                <input id="comissao" th:field="*{comissao}" type="text" class="campo" />
				              </div>
		             </div>
		             
		             <div class="col-sm-2">
	                  <div class="grupo-entrada">
	                    <label for="clienteAtivo">Ativo</label>
	                    
	                    <select id="funcionarioAtivo" th:field="*{funcionarioAtivo}"  class="campo">
	                      <option th:value="${funcionarioAtivo}" th:text="Selecione"></option>
	                      <option th:each="funcionarioAtivo : ${todosFuncionarioAtivo}" th:value="${funcionarioAtivo}" th:text="${funcionarioAtivo.descricao}"></option>
	                      
	                    </select>
	                  </div> 
	                </div>
	          </div>
	           <div class="row"> 
	           
		           <div class="col-sm-12">
			          <div class="modal-footer">
			            <button type="reset" class="btn btn-danger">Limpar</button>
			            <button type="submit" class="btn btn-primary">Salvar</button>
			          </div>
		          </div>
		          
	           </div>
	           
	      </div>
          
        </form>
      </div>
    </div>
  </div> 
<!--modal novo cliente --> 

</html>