<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="'layout/LayoutPadrao'">
<head>
<title>Cadastro de Clientes</title>
</head>
<body>

	<section class="layout-assinatura" layout:fragment="conteudo">
		<main class="layout-assinatura">

		<div class="container">
		<th:block th:include="fragments/MensagemSucesso"></th:block>

			<form action="#" method="post">
				<h1 class="titulo-formulario">Clientes</h1>


				<div class="container" style="padding: 20px 0px">

					<table class="tabela">
					
						<thead>
							<tr>
							    
								<th>Codigo</th>
								<th>Tipo</th>
								<th>Nome</th>
								<th>Endereço</th>
								<th>Telefone1</th>
								<th>Telefone2</th>
								<th style="padding:0px 70px 0px 0px"></th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:each="cliente : ${todosClientes}">
							   
							    <td th:text="${cliente.codigo}" class="text-center"></td>
							    <td th:text="${cliente.tipoPessoa.descricao}"></td>
							    
								<td th:text="${cliente.nome}"></td>
								<td th:text="${cliente.endereco}"></td>
								<td th:text="${cliente.telefone1}"></td>
								<td th:text="${cliente.telefone2}"></td>
								
								<td class="text-center" style="padding:1px"><a class="btn btn-link btn-xs"
									title="Editar" rel="tooltip" data-toggle="modal"
									data-target="#modalEditarCliente"
									th:attr="data-codigo=${cliente.codigo},
										   	 data-tipopessoa=${cliente.tipoPessoa}, 
											 data-nome=${cliente.nome}, 
											 data-endereco=${cliente.endereco},
											 data-bairro=${cliente.bairro},
											 data-cidade=${cliente.cidade},
											 data-uf=${cliente.uf},
											 data-cep=${cliente.cep},
											 data-email=${cliente.email},
											 data-email=${cliente.email},
											 data-telefone1=${cliente.telefone1},
											 data-telefone2=${cliente.telefone2},
											 data-cpf=${cliente.cpf},
											 data-rg=${cliente.rg},
											 data-profissao=${cliente.profissao},
											 data-dataNascimento=${cliente.dataNascimento},
											 data-pai=${cliente.pai},
											 data-mae=${cliente.mae},
											 data-referencia1=${cliente.referencia1},
											 data-referencia2=${cliente.referencia2},
											 data-clienteAtivo=${cliente.clienteAtivo},
											 data-dataCadastro=${cliente.dataCadastro}">
									
									<span class="glyphicon glyphicon-pencil text-warning"></span></a> 
									
									<a class="btn btn-link btn-xs" data-toggle="modal"
									data-target="#exclusaoModal" title="Excluir" rel="tooltip"
									th:attr="data-codigo=${cliente.codigo}, data-descricao=${cliente.nome}"><span
										class="glyphicon glyphicon-trash text-danger"></span></a>
								</td>

								
							</tr>
						</tbody>
					</table>

				</div>
			</form>

			<footer class="row pen">

				<div class="col-sm-8">
					<button class="btn btn-primary" data-toggle="modal"
						data-target="#NovaS">Novo</button>
				</div>

				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" name="busca" class="form-control"
							placeholder="Pesquisar por nome" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</footer>

		</div>
		</main>
		<th:block th:include="cliente/fragments/ModalEditar"></th:block>
		<th:block th:include="cliente/fragments/ModalNovo"></th:block>
		<th:block th:include="cliente/fragments/ModalExcluir"></th:block>
	</section>
</body>

</html>
