<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
 <!--modal novo transportadora -->
    <div class="modal fade" id="NovaS">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">
            <span>&times;</span>
          </button>
    				<div class="col-xs-10">
<h1 class="titulo-formulario" th:if="${transportadora.novo}">Cadastro de transportadora</h1>
			<h1 class="titulo-formulario" th:unless="${transportadora.novo}" th:text="|Edicao do Banco  ${transportadora.nome}|">Edicao do Banco</h1>
				</div>
        </div>
        <form method="POST"  th:object="${transportadora}" th:action="${transportadora.novo}? @{/transportadoras/novo} : @{/transportadoras/{codigo}(codigo=${transportadora.codigo})}">
          <div class="modal-body">

            <div class="row">
            	                     
	             <div class="col-sm-10">
	                   <div class="grupo-entrada">
	                     <label for="nome">nome</label>
	                     <input id="nome" th:field="*{nome}" type="text" class="campo" />
	                   </div>
	             </div>
	             
	          </div>  
	           <div class="row"> 
	           
		           <div class="col-sm-12">
			          <div class="modal-footer">
			            <button type="reset" class="btn btn-danger">Limpar</button>
			            <button type="submit" class="btn btn-primary">Salvar</button>
			          </div>
		          </div>
		          
	           </div>
	           
	      </div>
          
        </form>
      </div>
    </div>
  </div> 
<!--modal novo transportadora --> 

</html>