<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
 <!--modal novo cliente -->
    <div class="modal fade" id="NovaS">
    <div class="modal-dialog2">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">
            <span>&times;</span>
          </button>
    			<div class="col-xs-10">
                  <h1 class="titulo-formulario" th:if="${produto.novo}">Cadastro de Produto</h1>
			      <h1 class="titulo-formulario" th:unless="${produto.novo}" th:text="|Edicao do Banco  ${produto.descricao}|">Edicao do Banco</h1>
				</div>
        </div>
        <form method="POST"  th:object="${produto}" th:action="${produto.novo}? @{/produtos/novo} : @{/produtos/{codigo}(codigo=${produto.codigo})}">
          <div class="modal-body">

               <div class="row"> <!--1-->
            
	             	             
		             <div class="col-sm-5">
		                   <div class="grupo-entrada">
		                     <label for="descricao">Descrição</label>
		                     <input id="descricao" th:field="*{descricao}" type="text" class="campo" />
		                   </div>
		             </div>
			         <div class="col-sm-3"> 
			                <div class="grupo-entrada">
			                  <label for="setor">Setor</label>
			                  <input id="setor" th:field="*{setor}" type="text" class="campo"/>
			                </div>
		             </div>   
		             <div class="col-sm-4"> 
		                <div class="grupo-entrada">
		                  <label for="fornecedor">Fornecedor</label>
		                  <input id="fornecedor" th:field="*{fornecedor}" type="text" class="campo"/>
		                </div>
            		 </div> 
	             
	           </div>  
	           
	            <div class="row"> <!-- 2 -->
		            <div class="col-sm-4">
		              <div class="grupo-entrada">
		                <label for="fabricante">Fabricante</label>
		                <input id="fabricante" th:field="*{fabricante}" type="text" class="campo" />
		              </div>
		            </div>
		            <div class="col-sm-1">
		              <div class="grupo-entrada">
		                <label for="un">UN</label>
		                <input id="un" th:field="*{un}" type="text" class="campo" />
		              </div>
		            </div>
		            
		            <div class="col-sm-2">
		              <div class="grupo-entrada">
		                <label for="preco-custo">Preço Custo</label>
		                <input id="preco-custo" th:field="*{precoCusto}" type="text" class="campo" />
		              </div>
		            </div>
		            <div class="col-sm-1">
		              <div class="grupo-entrada">
		                <label for="lucro">100%</label>
		                <input id="lucro"  th:field="*{lucro}" type="text" class="campo"/>
		              </div>
		            </div>
		            <div class="col-sm-2">
		              <div class="grupo-entrada">
		                <label for="preco-venda">Preço Venda</label>
		                <input id="preco-venda" th:field="*{precoVenda}" type="text" class="campo" />
		              </div>
		            </div>
		            <div class="col-sm-2">
		              <div class="grupo-entrada">
		                <label for="qtd">Quantidade</label>
		                <input id="qtd" th:field="*{qtd}" type="text" class="campo" />
		              </div>
		            </div>
            
               </div>
               <div class="row"> <!-- 3 -->
		            <div class="col-sm-2">
		              <div class="grupo-entrada">
		                <label for="qtd-minima">QTD Minima</label>
		                <input id="qtd-minima" th:field="*{qtdMinima}" type="text" class="campo" />
		              </div>
		            </div>
		             <div class="col-sm-2">
	                  <div class="grupo-entrada">
			                <label for="imprimir">Imprimir</label>
			                <select id="imprimir"  th:field="*{imprimir}" class="campo"> <!-- field e o atributo -->
			                  <option th:value="${sn}" th:text="Selecione"></option>
			                  <option th:each="sn : ${todosSN}" th:value="${sn}" th:text="${sn.descricao}"></option>
			                     
			                </select>
                     </div>
		            </div>
		            
		            <div class="col-sm-2">
		                <div class="grupo-entrada">
		                  <label for="cst">CST</label>
		                  <input id="cst" th:field="*{cst}" type="text" class="campo" />
		                </div>
		            </div>   
		            <div class="col-sm-1">
		                <div class="grupo-entrada">
		                  <label for="aliquota-ipi">Ali. IPI</label>
		                  <input id="aliquota-ipi" th:field="*{aliquotaIpi}" type="text" class="campo"/>
		                </div>
		            </div> 
		            <div class="col-sm-1">
		                <div class="grupo-entrada">
		                  <label for="codigo-ipi">Cod. IPI</label>
		                  <input id="codigo-ipi" th:field="*{codigoIpi}" type="text" class="campo"/>
		                </div>
		            </div>
		            <div class="col-sm-2">
		                <div class="grupo-entrada">
		                  <label for="peso-bruto">Peso Bruto</label>
		                  <input id="peso-bruto" th:field="*{pesoBruto}" type="text" class="campo" />
		                </div>
		            </div>    
		            <div class="col-sm-2">
		                <div class="grupo-entrada">
		                  <label for="peso-liquido">Peso Líquido</label>
		                  <input id="peso-liquido" th:field="*{pesoLiquido}" type="text" class="campo"/>
		                </div>
		            </div>  
               </div>
               
               <div class="row"> <!-- 4 -->
                
	                <div class="col-sm-1">
	                  <div class="grupo-entrada">
	                    <label for="icms">ICMS</label>
	                    <input id="icms" th:field="*{icms}" type="text" class="campo"/>
	                  </div>   
	                   
	                </div>
	
	                <div class="col-sm-1">
	                  <div class="grupo-entrada">
	                    <label for="iss">ISS</label>
	                    <input id="iss" th:field="*{iss}" type="text" class="campo" />
	                  </div>   
	                </div>
	                <div class="col-sm-1">
	                  <div class="grupo-entrada">
	                    <label for="simples">Simples</label>
	                    <input id="simples" th:field="*{simples}" type="text" class="campo" />
	                  </div>   
	                </div>
	                <div class="col-sm-2">
	                  <div class="grupo-entrada">
			                <label for="complemento">Complemento</label>
			                <select id="complemento"  th:field="*{complemento}" class="campo">
			                  <option th:value="${sn}" th:text="Selecione"></option>
			                  <option th:each="sn : ${todosSN}" th:value="${sn}" th:text="${sn.descricao}"></option>
			                     
			                </select>
                     </div>

	                </div>
	                <div class="col-sm-1">
	                  <div class="grupo-entrada">
	                    <label for="complemento-porcentagem">100%</label>
	                    <input id="complemento-porcentagem" th:field="*{complementoPorcentagem}" type="text" class="campo" />
	                  </div>   
	                </div>
	                <div class="col-sm-3">
	                  <div class="grupo-entrada">
	                    <label for="complemento1">Complemento1</label>
	                    <input id="complemento1" th:field="*{complemento1}" type="text" class="campo" />
	                  </div>   
	                </div>
	                <div class="col-sm-3">
	                  <div class="grupo-entrada">
	                    <label for="complemento2">Complemento2</label>
	                    <input id="complemento2" th:field="*{complemento2}" type="text" class="campo" />
	                  </div>   
	                </div>
               </div>
	           <div class="row"> 
	               <div class="col-sm-2">
	                   <div class="grupo-entrada">
	                     <label for="dataCadastro">Data do Cadastro</label>
	                     <input id="dataCadastro" th:field="*{dataCadastro}" type="date" class="campo" />
	                   </div>
                  
                   </div> 
		           <div class="col-sm-10">
			          <div class="modal-footer">
			            <button type="reset" class="btn btn-danger">Limpar</button>
			            <button type="submit" class="btn btn-primary">Salvar</button>
			          </div>
		          </div>
		          
	           </div>
	           
	      </div>
          
        </form>
      </div>
    </div>
  </div> 
<!--modal novo cliente --> 

</html>