<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
 <!--modal novo cliente -->
    <div class="modal fade" id="NovaS">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">
            <span>&times;</span>
          </button>
    				<div class="col-xs-10">
<h1 class="titulo-formulario" th:if="${produto.novo}">Cadastro de Produto</h1>
			<h1 class="titulo-formulario" th:unless="${produto.novo}" th:text="|Edicao do Banco  ${produto.descricao}|">Edicao do Banco</h1>
				</div>
        </div>
        <form method="POST"  th:object="${produto}" th:action="${produto.novo}? @{/produtos/novo} : @{/produtos/{codigo}(codigo=${produto.codigo})}">
          <div class="modal-body">

            <div class="row">
            
	             <div class="col-sm-2">
	                   <div class="grupo-entrada">
	                     <label for="codigo">Codigo</label>
	                     <input id="codigo" th:field="*{codigo}"  class="campo" />
	                   </div>
	             </div>
	             
	             <div class="col-sm-10">
	                   <div class="grupo-entrada">
	                     <label for="descricao">descricao</label>
	                     <input id="descricao" th:field="*{descricao}" type="text" class="campo" />
	                   </div>
	             </div>
	             
	          </div>  
	           <div class="row"> 
	           
		           <div class="col-sm-12">
			          <div class="modal-footer">
			            <button type="reset" class="btn btn-danger">Limpar</button>
			            <button type="submit" class="btn btn-primary">Salvar</button>
			          </div>
		          </div>
		          
	           </div>
	           
	      </div>
          
        </form>
      </div>
    </div>
  </div> 
<!--modal novo cliente --> 

</html>