<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
 <!--modal novo setor -->
    <div class="modal fade" id="NovaS">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">
            <span>&times;</span>
          </button>
    				<div class="col-xs-10">
<h1 class="titulo-formulario" th:if="${setor.novo}">Cadastro de Setor</h1>
			<h1 class="titulo-formulario" th:unless="${setor.novo}" th:text="|Edicao do setor de ${setor.descricao}|">Edicao de Setor</h1>
				</div>
        </div>
        <form method="POST"  th:object="${setor}" th:action="${setor.novo}? @{/setores/novo} : @{/setores/{codigo}(codigo=${setor.codigo})}">
          <div class="modal-body">

            <div class="row">
            
	             <div class="col-sm-0">
	                   <div class="grupo-entrada">
<!-- 	                     <label for="codigo">Codigo</label> -->
	                     <input type="hidden" id="codigo" th:field="*{codigo}"  class="campo" />
	                   </div>
	             </div>
	             
	             <div class="col-sm-12">
	                   <div class="grupo-entrada">
	                     <label for="descricao">Setor</label>
	                     <input id="descricao" th:field="*{descricao}" type="text" class="campo" required="required" maxlength="60" />
	                   </div>
	             </div>
	             
	          </div>  
	           <div class="row"> 
	           
		           <div class="col-sm-12">
			          <div class="modal-footer">
			            <button type="reset" class="btn btn-danger">Limpar</button>
			            <button type="submit" class="btn btn-primary">Salvar</button>
			          </div>
		          </div>
		          
	           </div>
	           
	      </div>
          
        </form>
      </div>
    </div>
  </div> 
<!--modal novo setor --> 

</html>