<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
<!--modal excluir setor -->
		<div class="modal fade" id="exclusaoModal" tabindex="-1"
			data-keyboard="false" data-backdrop="static">
			<div class="modal-dialog">
				<form th:attr="data-url-base='/fornecedores'"  method="POST">
					<input type="hidden" name="_method" value="DELETE" />
					<div class="modal-content">
						<div class="modal-header">
							<h4>Voce tem certeza?</h4>
						</div>
						<div class="modal-body">
							<span>Tem certeza que deseja apagar o Setor</span>
						</div>
						<div class="modal-footer">
							<button class="btn btn-link" type="button" data-dismiss="modal">Cancelar</button>
							<button class="btn btn-primary" type="submit">Sim</button>

						</div>
					</div>
				</form>
			</div>
		</div>
		<!--modal excluir setor -->  


</html>