<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
 <!--modal novo cliente -->
    <div class="modal fade" id="NovaS">
    <div class="modal-dialog2">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">
            <span>&times;</span>
          </button>
    			<div class="col-xs-12">
                        <h1 class="titulo-formulario" th:if="${cliente.novo}">Cadastro de Cliente</h1>
<!-- 			            <h1 class="titulo-formulario" th:unless="${cliente.novo}" th:text="|Edicao do Banco  ${cliente.nome}|">Edicao do Banco</h1> -->
				</div>
        </div>
        <form method="POST"  th:object="${cliente}" th:action="${cliente.novo}? @{/clientes/novo} : @{/clientes/{codigo}(codigo=${cliente.codigo})}">
          <div class="modal-body">
          
             <div class="row"> <!-- 0 -->
               <div class="col-sm-2 fisicajuridica" >
<!-- 					<label>Tipo pessoa</label>  -->
					<div>
						<th:block th:each="tipoPessoa : ${todosTipoPessoa}">
							<div >
								<input type="radio" th:id="|id_${tipoPessoa}|" class="js-radio-tipo-pessoa" 
									name="tipoPessoa" 
									th:attr="data-documento=${tipoPessoa.documento}, data-mascara=${tipoPessoa.mascara}" th:field="*{tipoPessoa}" th:value="${tipoPessoa}"/> 
									
								<label class="control-label" th:for="|id_${tipoPessoa}|" th:text="${tipoPessoa.descricao}"></label>
							</div>
						</th:block>
					</div>
				</div>
				<div class="col-sm-4">
				   
				</div>
				<div class="col-sm-4">
				  
				</div>
				
            </div>
            
            <div class="row"> <!-- 1-->
            
	             
<!-- 	             <div class="col-sm-2"> -->
<!--                   <div class="grupo-entrada"> -->
<!--                     <label for="tipoPessoa">Tipo</label> -->
<!--                     <select  id="tipoPessoa" th:field="*{tipoPessoa}" class="campo js-radio-tipo-pessoa"> -->
<!--                       <option th:value="${tipoPessoa}" th:text="Selecione"></option> -->
<!--                       <option th:each="tipoPessoa : ${todosTipoPessoa}" th:value="${tipoPessoa}" th:text="${tipoPessoa.descricao}" th:id="|id_${tipoPessoa}|" data:documento="${tipoPessoa.documento}" data:mascara="${tipoPessoa.mascara}"></option> -->
                      
<!--                     </select> -->
<!--                   </div>  -->
<!--                 </div> -->
				
	             
	             <div class="col-sm-5">
	                   <div class="grupo-entrada">
	                     <label for="nome">nome</label>
	                     <input id="nome" th:field="*{nome}" type="text" class="campo" required="required" maxlength="50"  />
	                   </div>
	             </div>
	               <div class="col-sm-4">
                      <div class="grupo-entrada">
                        <label for="endereco">Endereço</label>
                        <input id="endereco" th:field="*{endereco}" type="text" class="campo"  maxlength="50" />
                   </div>
                </div> 
                 <div class="col-sm-3">
                  <div class="grupo-entrada">
                    <label for="cidade">Cidade</label>
                    <input id="cidade" th:field="*{cidade}" type="text" class="campo" maxlength="35"/>
                  </div>
              </div>
	             
	             
	          </div>  
	          <div class="row"> <!-- 2-->
	             <div class="col-sm-4">
                    <div class="grupo-entrada">
                       <label for="bairro">Bairro</label>
                       <input id="bairro" th:field="*{bairro}" type="text" class="campo" maxlength="40"/>
                    </div>
                 </div>
	         
              
	              <div class="col-sm-2">
	                 <div class="grupo-entrada">
	                   <label for="uf">Estado</label>
	                   <select id="uf" name="uf" th:field="*{uf}" class="campo">
	                     <option th:value="${uf}" th:text="Selecione"></option>
	                     <option th:each="uf : ${todosUF}" th:value="${uf}" th:text="${uf.descricao}"></option>
	                     
	                   </select>
	                 </div>
	              </div>
              
	              <div class="col-sm-2">
	                  <div class="grupo-entrada">
	                    <label for="cep">CEP</label>
	                    <input id="cep" th:field="*{cep}" type="text" class="campo" />
	                  </div>   
	             </div>
	              <div class="col-sm-4">
		                <div class="grupo-entrada">
		                  <label for="email">E-mail</label>
		                  <input id="email" th:field="*{email}" type="email" class="campo"  />
		                </div>
                  </div> 
            
	          </div>
	          
	          <div class="row"><!-- 3-->
	              
	         
	          
		          <div class="col-sm-3">
	                 <div class="grupo-entrada">
	                     <label for="telefone-1">Telefone 1</label>
	                     <input id="telefone-1" th:field="*{telefone1}" type="text" class="campo" />
	                 </div>
	                  
	              </div>
	              
	              <div class="col-sm-3">
		               <div class="grupo-entrada">
		                   <label for="telefone-2">Telefone 2</label>
		                   <input id="telefone-2" th:field="*{telefone2}" type="text" class="campo" />
		               </div>
                  </div>
                  <div class="col-sm-3">
		               <div class="grupo-entrada">
		                   <label for="cpfOuCnpj">CPF/CNPJ</label>
		                   <input type="text" class="form-control campo " id="cpfOuCnpj" disabled="disabled" />
		               </div>
		          </div>
		          <div class="col-sm-3">
		               <div class="grupo-entrada">
		                   <label for="rg">RG</label>
		                   <input id="rg" th:field="*{rg}" type="text" class="campo"  />
		               </div>
		          </div>
	           </div>
	           
	           <div class="row"><!-- 4-->
			            
				        <div class="col-sm-4">
			               <div class="grupo-entrada">
			                   <label for="profisso">Profissão</label>
			                   <input id="profissao" th:field="*{profissao}" type="text" class="campo" />
			               </div>
			            </div> 
			            <div class="col-sm-2">
		                   <div class="grupo-entrada">
		                     <label for="data-nascimento">Datada Nascimento</label>
		                     <input id="data-nascimento" th:field="*{dataNascimento}" type="date" class="campo" />
		                   </div>                  
                        </div>  
                        <div class="col-sm-3">
		                   <div class="grupo-entrada">
		                     <label for="pai">Pai</label>
		                     <input id="pai" th:field="*{pai}" type="text" class="campo" />
		                   </div>                  
                        </div>   
		                <div class="col-sm-3">
		                   <div class="grupo-entrada">
		                     <label for="mae">Mãe</label>
		                     <input id="mae" th:field="*{mae}" type="text" class="campo" />
		                   </div>                  
		                </div> 
	           </div>
	           
	           <div class="row"><!-- 5-->
	               
	              <div class="col-sm-3">
	                   <div class="grupo-entrada">
	                     <label for="referencia1">Referencias</label>
	                     <input id="referencia1" th:field="*{referencia1}" type="text" class="campo" />
	                   </div>                  
	              </div>
	              <div class="col-sm-3">
	                   <div class="grupo-entrada">
	                     <label for="referencia2">Referencias</label>
	                     <input id="referencia2" th:field="*{referencia2}" type="text" class="campo" />
	                   </div>                  
	              </div>
		           <div class="col-sm-2">
                
                  <div class="grupo-entrada">
                    <label for="clienteAtivo">Ativo</label>
                    
                    <select id="clienteAtivo" th:field="*{clienteAtivo}"  class="campo">
                      <option th:value="${clienteAtivo}" th:text="Selecione"></option>
                      <option th:each="clienteAtivo : ${todosClienteAtivo}" th:value="${clienteAtivo}" th:text="${clienteAtivo.descricao}"></option>
                      
                    </select>
                  </div> 
                </div>
                <div class="col-sm-2">
                   <div class="grupo-entrada">
                     <label for="dataCadastro">Data do Cadastro</label>
                     <input id="dataCadastro" th:field="*{dataCadastro}" type="date" class="campo" />
                   </div>
                  
                </div>     
	           </div>
	           
	           <div class="row"><!-- 6-->
	           
<!-- 		         <div class="col-sm-4"> -->
		            		                
<!-- 		                <div class="plano2"> -->
<!-- 		                     <div> -->
<!-- 		                        <td><img th:src="@{imagens/computador.png}" width="125" height="119"  style="margin-top: 0px ; padding:1"/></td> -->
<!-- 		                     </div> -->
<!-- 		                </div> -->
<!-- 		                <input type="submit" value="Foto" class="botao" style="float: botton"/> -->
		               
<!-- 			    </div> -->
               
                
                

                <div class="col-sm-12">
			          <div class="modal-footer">
			            <button type="reset" class="btn btn-danger">Limpar</button>
			            <button type="submit" class="btn btn-primary">Salvar</button>
			          </div>
		          </div>

            </div>
	          
	           
	      </div>
          
        </form>
      </div>
      
    </div>
  </div> 
<!--modal novo cliente --> 
<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/cliente.mascara-cpf-cnpj.js}"></script>
</th:block>
</html>