<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org">
	
 <!--modal novo cliente -->
    <div class="modal fade" id="NovaS">
    <div class="modal-dialog2">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" data-dismiss="modal" class="close">
            <span>&times;</span>
          </button>
    			<div class="col-xs-10">
                        <h1 class="titulo-formulario" th:if="${cliente.novo}">Cadastro de Cliente</h1>
			            <h1 class="titulo-formulario" th:unless="${cliente.novo}" th:text="|Edicao do Banco  ${cliente.nome}|">Edicao do Banco</h1>
				</div>
        </div>
        <form method="POST"  th:object="${cliente}" th:action="${cliente.novo}? @{/clientes/novo} : @{/clientes/{codigo}(codigo=${cliente.codigo})}">
          <div class="modal-body">

            <div class="row">
            
	             
	             <div class="col-sm-2">
                  <div class="grupo-entrada">
                    <label for="tipo">Tipo</label>
                    <select id="tipo" name="tipo" class="campo">
                      <option>Selecione</option>
                      <option value="FISICA">Fisica</option>
                      <option value="JURIDICA">Juridica</option>
                    </select>
                  </div> 
                </div>
	             
	             <div class="col-sm-5">
	                   <div class="grupo-entrada">
	                     <label for="nome">nome</label>
	                     <input id="nome" th:field="*{nome}" type="text" class="campo" />
	                   </div>
	             </div>
	               <div class="col-sm-5">
                      <div class="grupo-entrada">
                        <label for="endereco">Endereço</label>
                        <input id="endereco" name="endereco" type="text" class="campo" />
                   </div>
                </div> 
	             
	             
	          </div>  
	          <div class="row"> <!-- 2-->
	             <div class="col-sm-5">
                    <div class="grupo-entrada">
                       <label for="bairro">Bairro</label>
                       <input id="bairro" name="bairro" type="text" class="campo"/>
                    </div>
                 </div>
	          <div class="col-sm-3">
                  <div class="grupo-entrada">
                    <label for="cidade">Cidade</label>
                    <input id="cidade" name="cidade" type="text" class="campo" />
                  </div>
              </div>
              
              <div class="col-sm-2">
                 <div class="grupo-entrada">
                   <label for="estado">Estado</label>
                   <select id="estado" name="estado" class="campo">
                     <option>Selecione</option>
                     <option value="MG">Minas Gerais</option>
                     <option value="SP">São Paulo</option>
                     <option value="CE">Ceará</option>
                     <option value="GO">Goias</option>
                     <option value="DF">Distrito Federal</option>
                   </select>
                 </div>
              </div>
              
              <div class="col-sm-2">
                  <div class="grupo-entrada">
                    <label for="cep">CEP</label>
                    <input id="cep" name="cep" type="text" class="campo" />
                  </div>   
             </div>
            
	          </div>
	           <div class="row"> 
	           
		           <div class="col-sm-12">
			          <div class="modal-footer">
			            <button type="reset" class="btn btn-danger">Limpar</button>
			            <button type="submit" class="btn btn-primary">Salvar</button>
			          </div>
		          </div>
		          
	           </div>
	           
	      </div>
          
        </form>
      </div>
    </div>
  </div> 
<!--modal novo cliente --> 

</html>