<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="'layout/LayoutPadrao'">
<head>
<title>Cadastro de Bancos</title>
</head>
<body>

	<section class="layout-assinatura" layout:fragment="conteudo">
	
	
		<main class="layout-planos">

		<div class="container">
            <th:block th:include="fragments/MensagemSucesso"></th:block>
			<form action="#" method="post">
				<h1 class="titulo-formulario">Cadastro Bancos</h1>


				<div class="container" style="padding: 20px 0px">

					<table class="tabela">
						<thead>
							<tr>
								<th>Nome</th>
								<th>Endereço</th>
								<th>Agencia</th>
								<th>Conta</th>
								<th>Telefone</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="banco : ${todosBancos}">
								<td th:text="${banco.nome}">Banco do Brasil</td>
								<td th:text="${banco.endereco}">Endereço</td>
								<td th:text="${banco.agencia}">Agencia</td>
								<td th:text="${banco.conta}">Conta</td>
								<td th:text="${banco.telefone}">Telefone</td>

								<td class="text-center">
								
								<a class="btn btn-link btn-xs"
									title="Editar" rel="tooltip" data-toggle="modal"
									data-target="#modalEditarBanco"
									th:attr="data-codigo=${banco.codigo}, data-nome=${banco.nome}"><span
									class="glyphicon glyphicon-pencil text-warning"></span></a> 
									
									<a class="btn btn-link btn-xs" title="Editar" rel="tooltip"
									th:href="@{/bancos/{codigo}(codigo=${banco.codigo})}"><span
										class="glyphicon glyphicon-pencil text-warning"></span></a>
										
										 <a class="btn btn-link btn-xs" data-toggle="modal"
									data-target="#exclusaoModal" title="Excluir" rel="tooltip"
									th:attr="data-codigo=${banco.codigo}, data-descricao=${banco.nome}"><span
										class="glyphicon glyphicon-trash text-danger"></span></a></td>
							</tr>
						</tbody>
					</table>

				</div>
			</form>

			<footer class="row pen">

				<div class="col-sm-8">
					<button class="btn btn-primary" data-toggle="modal"
						data-target="#NovaS">Novo</button>
				</div>

				<div class="col-sm-4">
					<div class="input-group">
						<input type="text" name="busca" class="form-control"
							placeholder="Pesquisar por nome" /> <span
							class="input-group-btn">
							<button type="button" class="btn btn-default">
								<span class="glyphicon glyphicon-search"></span>
							</button>
						</span>
					</div>
				</div>
			</footer>

		</div>
		</main>
		<th:block th:include="banco/fragments/ModalEditar"></th:block>
		<th:block th:include="banco/fragments/ModalNovo"></th:block>
		<th:block th:include="banco/fragments/ModalExcluir"></th:block>
	</section>
</body>

</html>
