<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:data="http://www.thymeleaf.org/extras/data"
	layout:decorator="'layout/LayoutPadrao'">
<head>
<title>Cadastro de Bancos</title>
</head>
<body>

<section class="layout-assinatura" layout:fragment="conteudo">
    <main class="layout-planos">

      <div class="container">

        <form action="#" method="post">
              <h1 class="titulo-formulario">Cadastro Bancos</h1>
              <div class="row"> <!-- 1 -->
              
                 <div class="col-sm-6">
                    <div class="grupo-entrada">
                      <label for="nome">Nome</label>
                      <input id="nome" name="nome" type="text" class="campo" />
                    </div>
                 </div> 
                 <div class="col-sm-6">
                    <div class="grupo-entrada">
                      <label for="endereco">Endereço</label>
                      <input id="endereco" name="endereco" type="text" class="campo" />
                    </div>
                 </div>   
              </div>    

              <div class="row"><!-- 3-->
                 
                <div class="col-sm-2">
                    <div class="grupo-entrada">
                      <label for="agencia">Agencia</label>
                      <input id="agencia" name="agencia" type="email" class="campo" />
                    </div>
                </div>    
                <div class="col-sm-2">
                    <div class="grupo-entrada">
                      <label for="conta">Conta</label>
                      <input id="conta" name="conta" type="email" class="campo" />
                    </div>
                </div>  
                <div class="col-sm-3">
                     <div class="grupo-entrada">
                         <label for="telefone-1">Telefone</label>
                         <input id="telefone-1" name="telefone1" type="text" class="campo" />
                     </div>                     
                </div>      
              </div>              
          
          <div style="text-align: center; margin-top: 20px">
            <input type="submit" value="Salvar" class="botao  botao--principal"/>
            <input type="submit" value="Novo" class="botao  botao--principal"/>
            <input type="submit" value="Imprimir" class="botao  botao--principal"/>
            <input type="submit" value="Pesquisar" class="botao  botao--principal"/>
          </div>

           <div class="container" style="padding: 20px 0px">
            
                <table class="tabela">
                  <thead>
                    <tr>
                      <th>Nome</th>
                      <th>Endereço</th>
                      <th>Agencia</th>
                      <th>Conta</th>
                      <th>Telefone</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="banco : ${todosBancos}">
                      <td th:text="${banco.nome}">Banco do Brasil</td>
                      <td th:text="${banco.endereco}">Endereço</td>
                      <td th:text="${banco.agencia}">Agencia</td>
                      <td th:text="${banco.conta}">Conta</td>
                      <td th:text="${banco.telefone}">Telefone</td>
                      
                      							<td class="text-center">
							
							<a class="btn btn-link btn-xs"
								title="Editar" rel="tooltip"  data-toggle="modal" data-target="#modalEditarBanco" th:attr="data-codigo=${banco.codigo}, data-nome=${banco.nome}" ><span
									class="glyphicon glyphicon-pencil text-warning"></span></a> 
									
							
							<a class="btn btn-link btn-xs"
								title="Editar" rel="tooltip" th:href="@{/bancos/{codigo}(codigo=${banco.codigo})}" ><span
									class="glyphicon glyphicon-pencil text-warning"></span></a> 
									
							  <a class="btn btn-link btn-xs" data-toggle="modal"
								data-target="#exclusaoModal" title="Excluir" rel="tooltip"
								th:attr="data-codigo=${banco.codigo}, data-nome=${banco.nome}"><span
									class="glyphicon glyphicon-trash text-danger"></span></a>
									
									</td>
                    </tr>
                  </tbody>
                </table>
              
          </div>    
        </form>

      </div>
    </main>
</section>
  </body>
  
</html>